{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <form method="post"
          style="margin-top: 150px;margin-left:250px;width: 500px;height: 200px;align-items: center;">
        <div class="container" style="background-color: #f5e6f6;border-radius: 20px; padding: 20px">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
               autocomplete="username" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"
               required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

        <button class="btn btn-dark" type="submit" style="margin-top: 20px; background-color: #351568">
            Sign in
        </button>
        <hr class="mt-4">
        <div class="col-12">
            <p class="text-center mb-0">Have not account yet? <a href="{{ path('user_new') }}">Signup</a></p>
        </div>
    </form>
    </div>
{% endblock %}
