{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Edit Comment</h1>
<div class="container">
    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}



</div>


{% endblock %}
