{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <h1 style="margin-top: 100px">Registration</h1>

    {{ include('user/_form.html.twig') }}

    <button class="btn-danger" style="float: right" href="{{ path('user_index') }} cl">back to list</button>
{% endblock %}
