{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}


<form method="post"
      style="margin-top: 150px;margin-left:250px;width: 500px;height: 200px;align-items: center;">
    <div class="container" style="background-color: #f5e6f6;border-radius: 20px; padding: 20px">
        <h1>Registration</h1>
        {{ include('user/_form.html.twig') }}

        <a href="{{ path('default') }}" class="btn btn-danger"
           style="float: right">Back Home</a>
        {% endblock %}
