{% extends 'base.html.twig' %}

{% block title %}Edit CakeDelivery{% endblock %}

{% block body %}
    <h1>Edit CakeDelivery</h1>

    {{ include('cake_delivery/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_delivery_index') }}">back to list</a>

    {{ include('cake_delivery/_delete_form.html.twig') }}
{% endblock %}
